@page "/"


<PageTitle>Bridges&Co</PageTitle>
<div class="centerAlign stret" width=100%>

<h1 class="centerAlign">Добро пожаловать!</h1>

	<div class="centerAlign modal-body ">
				<center>
				<button type="button" style="align-content:center" class="btn btn-outline-primary centerAlign container" @*@onclick="Login"*@>Авторизироваться</button>
				</center>
			</div>
</div>




